<p id="notice"><%= notice %></p>

<h1> Show</h1>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<h2>Comment</h2>
<% if @post.comments.any? %>
	<% @post.comments.each do |comment| %>
		<li><%= comment.body %> (by <%= comment.commenter %>
		<%= link_to 'Destroy', [comment.post, comment], :confirm => 'sure?',
													:method => :delete %>
		 </li>
	<% end %>
<% else %>
	<li>No Comment!!</li>
<% end %>

<h2>AddComment</h2>

<%= form_for([@post, @comment]) do |f| %>

<% if @comment.errors.any? %>
	<ul>
	<% @comment.errors.full_massages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>


  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<p></p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
